
/*------------------- 5.4 Contact Page Style -------------------*/

.contact-wrap-layout1 {
  padding: 5rem 0 2rem;
}

.contact-box-layout1 {
  .google-map-area {
    margin-bottom: 50px;
  }

  .contact-way .contact-list {
    margin-bottom: 40px;

    .item-title {
      font-size: 24px;
      font-weight: 600;
      color: #111111;
      margin-bottom: 18px;
    }
  }
}
