
/*------------------- 6.4 Padding -------------------*/

.pt--14 {
  padding-top: 14px;
}

.pb--14 {
  padding-bottom: 14px;
}

.pt--25 {
  padding-top: 25px;
}

.pb--25 {
  padding-bottom: 25px;
}

.pb--20 {
  padding-bottom: 20px;
}

.pt--29 {
  padding-top: 29px;
}

.pb--29 {
  padding-bottom: 29px;
}

.pr--30 {
  padding-right: 30px;
}

.pl--30 {
  padding-left: 30px;
}

.pt--50 {
  padding-top: 50px !important;
}

.pb--50 {
  padding-bottom: 50px;
}

.pt--49 {
  padding-top: 49px;
}

.pb--49 {
  padding-bottom: 49px;
}

.padding-x-85 {
  padding-left: 85px;
  padding-right: 85px;
}

@media only screen and (max-width: 991px) {
  .padding-x-85 {
    padding-left: 0;
    padding-right: 0;
  }
}
