/*------------------- 6.1 Background -------------------*/

.bg--transparent {
  background-color: transparent;
}

.bg--light {
  background-color: $light !important;
}

.bg--dark {
  background-color: $dark1 !important;
}

.bg--dark2 {
  background-color: $dark2 !important;
}

.bg-pearl {
  background-color: $pearl !important;
}

